// If you are looking for a piece of content, press CTRL + F
// type what you want to find based on the data below:

// 1. General Styling Section
// 2. Header Styling Section
// 3. Navigation Styling Section

// General Styling Section 

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    overflow-x: hidden;
}

body {
    
    max-width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: radial-gradient(
        #fff 42%,
        rgba(33, 146, 255, 0.1),
        rgba(253, 255, 0, 0.12)
    );
}

// Header Styling Section 

header { 

	position: fixed;
	width: 1920px;
	height: 80px;

	display: flex;
	align-items: center;
	
	background-color: #fff;
	box-shadow: 0 0.7px 17px rgba(0, 0, 0, 0.2);
	z-index: 15;

    
    .header-title {
        position: absolute;
        left: 30px;

        font-weight: 700;
        text-transform: uppercase;
        font-size: 23px;
        padding: 7px 10px 4px 10px;

        color: #2192FF;
        outline: 2px dashed #2192FF;

        letter-spacing: 3.5px;
        font-family: 'Comfortaa';

    }

    ul {
        position: absolute;
	
        display: flex;
        flex-direction: row;
        align-items: center;
        
        column-gap: 20px;
        right: 30px;

        .name-profile {
            position: relative;
            list-style: none;
            font-family: 'Roboto Slab';

        }
        
        .image-cover {
            position: relative;
            list-style: none;
            width: 50px;
            height: 50px;
        
            border-radius: 50px;
            overflow: hidden;
    
            img {
                width: 100%;
                height: auto;

            }    
            
        }    
        
    }
        
}

// Navigation Styling Section 

.navigation {

    position: fixed;
    width: 200px;
    height: 1080px;

    left: 0;
    top: 80px;
    
    background-color: #463CFF;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    z-index: 11;

    ul {

        position: relative;
        list-style: none;
        margin-top: 20px;
    
        display: flex;
        flex-direction: column;

        li {

            width: 200px;
            transition: 300ms;

            a {

                position: relative;
                width: 200px;
                height: 60px;
                font-family: 'Comfortaa';
            
                display: flex;
                column-gap: 10px;
                align-items: center;
                justify-content: left;    
                
                color: #fff;
            
                font-size: 14.2px;
                font-weight: 600;
                text-transform: capitalize;
                letter-spacing: 2px;
            
                transition: 300ms;
                text-decoration: none;

                .material-symbols-outlined {

                    margin-left: 20px;
                    transition: 300ms;

                }

            }

        }

        li:hover {

            background-color: #655CFF;
            cursor: pointer;

        }

        li.active {

            width: 218px;
        
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        
            box-shadow: 0 0.7px 17px rgba(27, 1, 78, 0.19);
            background-color: #5003E9;

            a {

                font-size: 15.5px;
                letter-spacing: 2.5px;

                .material-symbols-outlined {

                    margin-left: 35px;

                }

            }

        }

    }
    
}
