.main {
    position: absolute;
    left: 55%;
    top: 52%;
    transform: translate(-50%, -50%);

    width: 1500px;
    height: 800px;
    padding: 0 20px;

    font-size: 20px;

    background-color: transparent;
}

.main .time {
    position: relative;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-weight: 600;
    font-size: 16px;

    column-gap: 40px;
    margin-bottom: 30px;

    left: 50%;
    transform: translateX(-50%);
    
    width: 1400px;
    height: 40px;
    
    list-style: none;
}

.main .time .says {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(-0%, -50%);

    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.8px;

    font-family: 'Montserrat';
}

.main .time .says .ucapan {
    position: relative;
    width: fit-content;
    height: fit-content;
    
    font-weight: 600;
    font-size: 25px;

    background: linear-gradient(90deg, #00D7FF 0%, #F637EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.main .time .clock {
    position: relative;
    width: 110px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    letter-spacing: 2px;

    border-radius: 10px;
    background: linear-gradient(145deg, #f5f5f5, #FEFEFE);
    box-shadow:  17px 17px 34px #dddddd,
                -17px -17px 34px #ffffff;
}

.main .time .hari {
    position: relative;
    width: 285px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    letter-spacing: 2px;

    border-radius: 10px;
    background: linear-gradient(145deg, #f5f5f5, #FEFEFE);
    box-shadow:  17px 17px 34px #dddddd,
                -17px -17px 34px #ffffff;
}

.main .welcome {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 1400px;
    height: 200px;

    padding: 20px 30px;
    font-family: 'Montserrat';
    
    border-radius: 15px;
    background: linear-gradient(145deg, #f5f5f5, #FEFEFE);
    box-shadow:  17px 17px 35px #dddddd,
    -17px -17px 35px #ffffff;
}

.main .welcome .randomText {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 600;
    letter-spacing: 2px;
}

.main .welcome .notifikasiWelcome {
    position: absolute;
    width: 400px;
    height: 50px;

    display: flex;
    flex-direction: row;
    column-gap: 30px;

    bottom: 25px;

    list-style: none;
}

.main .welcome .notifikasiWelcome .nof {
    position: relative;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 5px;
    transition: 300ms;
    border-radius: 50px;

    cursor: pointer;

    background: #f5f5f5;
    box-shadow: inset 5px 5px 20px #dddddd,
    inset -5px -5px 20px #ffffff;
}

.main .welcome .notifikasiWelcome .nof .notifikasiGIcon {
    font-size: 26px;
}

.main .welcome .notifikasiWelcome .nof .nofDot {
    position: absolute;
    width: 10px;
    height: 10px;

    top: 2px;
    right: 2px;

    border-radius: 50px;

    background-color: #FF1E1E;
}

.main .data {
    position: relative;
    width: 1400px;
    height: 800px;

    left: 30px;
    margin-top: 50px;
}

.main .data .dataFormating {
    position: relative;
    width: 1400px;

    font-family: 'Montserrat';
    font-size: 14px;

    overflow: hidden;

    border: none;
    border-collapse: collapse;

    border-radius: 10px;

    background: #f5f5f5;
    box-shadow:  12px 12px 23px #dddddd,
                -12px -12px 23px #ffffff;
}

.main .data .dataFormating table {
    width: 100%;
    border-collapse: collapse;
}

.main .data .listTable {
    position: relative;
    width: 1500px;
    height: 40px;

    left: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
    margin-bottom: 20px;

    column-gap: 20px;
}

.main .data .listTable li .seTable {
    position: relative;
    width: 400px;
    height: 40px;

    border-radius: 5px;
    border: none;
    outline: none;
    
    padding: 10px 15px;
    font-family: 'Comfortaa';
    letter-spacing: 1.5px;

    font-weight: 600;

    left: 0;
    top: 0;

    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: inset 4px 4px 8px #d8d8d8,
                inset -4px -4px 8px #ffffff;
}

.main .data .listTable li .telusuriButtonClass {
    width: 40px;
    height: 40px;
    border-radius: 10px;

    border: none;
    outline: none;
    transition: 300ms;
    cursor: pointer;

    background: #f5f5f5;
    box-shadow: inset 4px 4px 8px #d8d8d8,
                inset -4px -4px 8px #ffffff;
}

.main .dataFormating .trHead {
    position: relative;
    width: 1300px;
    height: 40px;

    color: #fff;
    letter-spacing: 1px;

    background-color: #2192FF;
}

.main .dataFormating .daTable {
    height: 60px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    
    background-color: #f8f8f8;
}

.main .dataFormating .daTable:nth-child(even) {
    background-color: #fff;
}

.main .statis {
    position: relative;
    left: 30px;
    width: 1400px;
    height: fit-content;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    
    margin-top: 50px;
}

.main .statis .cbox {
    position: relative;

    padding: 10px;

    border-radius: 15px;
    background: linear-gradient(145deg, #F3F3F3, #FEFEFE);
    box-shadow:  17px 17px 35px #dddddd,
            -17px -17px 35px #ffffff;
}

.main .welcome .timeIcon {
    position: absolute;
    cursor: default;
  
    font-size: 100px;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
  
}

.main .welcome .morningCon {
    display: block;
    
    color: #2192FF;
}

.main .welcome .sunCon {
    display: block;
    
    color: #FCE700;
}

.main .welcome .nightCon {
    display: block;
    
    color: #04009A;
}