* {
    box-sizing: border-box; 
}

div {
    display: none;
}

h1, span {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2192FF ;
}

img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
}
