<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- CSS Connection -->
    <link rel="stylesheet" href="../resource/css/style.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono" />

    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    <header>
        <ul class="list">
            <li class="logo">
                <img src="../resource/element/planet-svgrepo-com.svg" alt="sarpas-logo">
            </li>

            <li class="items">
                <span class="material-symbols-outlined">
                    bar_chart
                </span>
            </li>
            
            <li class="items">
                <span class="material-symbols-outlined">
                    insights
                </span>
            </li>

            <li class="items">
                <span class="material-symbols-outlined">
                    logout
                </span>
            </li>

            <li class="profile">
                <img src="../resource/image/hutao.jpg" alt="hutao">
            </li>
        </ul>
    </header>

    <div class="main">
        <div class="title">
            Sarana & Prasarana
        </div>

        <div class="value-chart">
            <div class="value">
                <span class="material-symbols-outlined">
                    attach_money
                </span>
                <p class="value-money">54.234.234</p>
            </div>

            <div class="diagram">
                <canvas id="value-chart-canvas"></canvas>
            </div>
        </div>
    </div>

    <!-- Chart JS Connection -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../resource/js/chart.js"></script>
    
</body>
</html>