
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin customScroll {
    position: fixed;
    top: 0;
    right: 0;
    
    width: 10px;
}

::-webkit-scrollbar {
    width: 0;
}

.path {
    height: 100%;

    @include customScroll();
    background-color: rgba($color: #fff, $alpha: 0.05);
}

.progress {
    @include customScroll();
    border-radius: 3px;
    background: linear-gradient(to top, #13A8FF, #72FFFF);

    animation: animate 30s linear infinite;
}

.progress::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: linear-gradient(to top, #13A8FF, #72FFFF);
    box-shadow: -12px 0 20px #72FFFF;
    filter: blur(10px);
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    } 
    50% {
        filter: hue-rotate(360deg);
    }
}


html {overflow-x: hidden; scroll-behavior: smooth;}

body {
    max-width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;

    background-color: #fff;
}

@mixin mainstyle {
    position: relative;
    top: 120px;
    left: 46%;
    transform: translate(-50%);

    width: 1500px;
    height: 120em;
}

@mixin neumorphism {
    background-color: #fff;
    box-shadow:  20px 20px 69px #cccccc,
                -20px -20px 69px #ffffff;
}

@mixin s-neumorphism {
    background: #ffffff;
    box-shadow:  5px 5px 42px #cfcfcf,
                -5px -5px 42px #ffffff;
}

@mixin i-s-neumorphism {
    background: #ffffff;
    box-shadow: inset 5px 5px 11px #cfcfcf,
                inset -5px -5px 11px #ffffff;
}

.main {

    @include mainstyle;

    font-size: 20px;

    display: flex;
    flex-direction: column;
    
    row-gap: 40px;
    padding: 0 30px;

    .list {
        position: relative;
        width: 1400px;
        height: 40px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;

        font-weight: 600;
        font-size: 16px;
    
        column-gap: 40px;
            
        list-style: none;

        .jumpIoc {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translate(0%, -50%);

            font-size: 28px;
            background: linear-gradient(90deg, var(--coloors), #F637EC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .say {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translate(-0%, -50%);
        
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.8px;
        
            font-family: 'Montserrat';

            .text {
                position: relative;
                width: fit-content;
                height: fit-content;

                font-weight: 600;
                font-size: 25px;

                text-transform: capitalize;

                background: linear-gradient(90deg, var(--coloors), #F637EC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }

        button {
            width: fit-content;
            height: 35px;

            padding: 0 10px;
            border: none;

            font-weight: 600;
            font-family: 'Montserrat';
            letter-spacing: 2px;
            color: white;

            border-radius: 6px;
        }

        .sarana {
            background-color: #2192FF;
        }

        .prasarana {
            background-color: #7B16E2;
        }

        .sub {
            left: 38px;
            
        }

        .time {
            position: relative;
            width: 110px;
            height: 40px;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            font-family: 'Montserrat';
            letter-spacing: 2px;

            transition: 300ms;
        
            border-radius: 10px;
            
            @include s-neumorphism;
        }

        .date {
            position: relative;
            width: 285px;
            height: 40px;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            font-family: 'Montserrat';
            letter-spacing: 2px;

            transition: 300ms;
        
            border-radius: 10px;
            
            @include s-neumorphism;
        }
    }

    .card {
        position: relative;
        width: 1400px;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;
    
        font-family: 'Montserrat';

        border-radius: 26px;

        @include neumorphism;

        .random {            
            text-transform: capitalize;
        
            font-weight: 600;
            letter-spacing: 2px;
        }

        .dp {
            position: absolute;

            right: 5%;
            
            opacity: 0;

            font-size: 95px;

            transition: 300ms;
        }

        .morning {color: #2192FF;}

        .afternoon {color: #FCE700;}

        .evening {color: #04009A;}

        .notifi {
            position: absolute;

            left: 30px;
            
            display: flex;
            flex-direction: row;
            column-gap: 30px;
        
            bottom: 25px;
        
            list-style: none;

            li {
                position: relative;
                width: 50px;
                height: 50px;
            
                display: flex;
                align-items: center;
                justify-content: center;
            
                padding-top: 5px;

                transition: 300ms;

                border-radius: 50px;
            
                cursor: pointer;
            
                @include i-s-neumorphism;

                .icon {
                    font-size: 26px;
                }

                .mark {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                
                    top: 2px;
                    right: 2px;
                
                    border-radius: 50px;
                
                    background-color: #FF1E1E;
                }
            }
        }

        .listIcon {
            position: absolute;
            cursor: default;
          
            font-size: 100px;

            right: 0%;
            top: 50%;
            transform: translate(-50%, -50%);
          
        }
    }

    .data {
        position: relative;
        width: 1400px;
        height: fit-content;
    
        .format {
            width: 100%;
        
            font-family: 'Montserrat';
            font-size: 14px;
        
            overflow: hidden;
        
            border: none;
            border-collapse: collapse;
        
            border-radius: 10px;
        
            @include neumorphism;
            
            table {
                width: 100%;
                border-collapse: collapse;
            }

            .head {
                position: relative;
                width: 100%;
                height: 40px;
            
                color: #fff;
                letter-spacing: 1px;
            
                background-color: #2192FF;
            }

            .content {
                height: 60px;

                text-align: center;

                font-weight: 500;
                letter-spacing: 1px;
                
                background-color: #f8f8f8;
            }

            .daTable:nth-child(even) {
                background-color: #fff;
            }
        }
    }

    .statistika {
        max-width: 1400px;
        height: fit-content;
    
        display: flex;
        flex-direction: row;
        column-gap: 40px;
                
        .chart {            
            padding: 10px;
                        
            border-radius: 15px;
            
            @include neumorphism;
        }

        .sarana {width: 900px;}

        .dana {width: 460px;}
    }
}