* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

header {
  position: fixed;
  width: 1920px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 17px 30px #dddddd;
  z-index: 10;
}
header .webname {
  position: absolute;
  left: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 3.5px;
  font-family: "Comfortaa";
  padding: 7px 10px 4px 10px;
  color: #2192FF;
  outline: 2px dashed #2192FF;
}
header ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  right: 30px;
}
header ul .username {
  position: relative;
  list-style: none;
  font-family: "Roboto Slab";
}
header ul .profile {
  position: relative;
  width: 50px;
  height: 50px;
  list-style: none;
  border-radius: 50px;
  overflow: hidden;
}
header ul .profile img {
  width: 100%;
  height: auto;
}

.nav {
  position: fixed;
  width: 200px;
  height: 1080px;
  left: 0;
  top: 80px;
  background-color: #463CFF;
  box-shadow: 17px 0px 30px #dddddd;
  z-index: 11;
}
.nav ul {
  position: relative;
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.nav ul li {
  width: 200px;
  transition: 300ms;
}
.nav ul li a {
  position: relative;
  width: 200px;
  height: 60px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  justify-content: left;
  font-size: 14.2px;
  font-weight: 600;
  font-family: "Comfortaa";
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 300ms;
  color: #fff;
}
.nav ul li a .material-symbols-outlined {
  margin-left: 20px;
  transition: 300ms;
}
.nav ul li:hover {
  cursor: pointer;
  background-color: #655CFF;
}
.nav ul li.active {
  width: 218px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(145deg, #5003E9, #6622EB);
  box-shadow: -18px 8px 25px #4F0ECF, -18px -8px 25px #4F0ECF;
  background-color: #5003E9;
}
.nav ul li.active a {
  font-size: 15.5px;
  letter-spacing: 2.5px;
}
.nav ul li.active a .Icon {
  margin-left: 35px;
}

.main {
  position: absolute;
  left: 55%;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 800px;
  padding: 0 20px;
  font-size: 20px;
  background-color: transparent;
}
.main .list {
  position: relative;
  width: 1400px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-weight: 600;
  font-size: 16px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}
.main .list .say {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0%, -50%);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.8px;
  font-family: "Montserrat";
}
.main .list .say .text {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
  background: linear-gradient(90deg, var(--coloors), #F637EC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main .list .time {
  position: relative;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  letter-spacing: 2px;
  transition: 300ms;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 42px #cfcfcf, -5px -5px 42px #ffffff;
}
.main .list .date {
  position: relative;
  width: 285px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  letter-spacing: 2px;
  transition: 300ms;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 42px #cfcfcf, -5px -5px 42px #ffffff;
}
.main .card {
  position: relative;
  width: 1400px;
  height: 200px;
  left: 50%;
  transform: translate(-50%);
  padding: 20px 30px;
  font-family: "Montserrat";
  border-radius: 26px;
  background-color: #fff;
  box-shadow: 20px 20px 69px #cccccc, -20px -20px 69px #ffffff;
}
.main .card .random {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 2px;
}
.main .card .dp {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  font-size: 95px;
  transition: 300ms;
}
.main .card .morning {
  color: #2192FF;
}
.main .card .afternoon {
  color: #FCE700;
}
.main .card .evening {
  color: #04009A;
}
.main .card .notifi {
  position: absolute;
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  bottom: 25px;
  list-style: none;
}
.main .card .notifi li {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  transition: 300ms;
  border-radius: 50px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: inset 5px 5px 11px #cfcfcf, inset -5px -5px 11px #ffffff;
}
.main .card .notifi li .icon {
  font-size: 26px;
}
.main .card .notifi li .mark {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  right: 2px;
  border-radius: 50px;
  background-color: #FF1E1E;
}
.main .card .listIcon {
  position: absolute;
  cursor: default;
  font-size: 100px;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main .data {
  position: relative;
  width: 1400px;
  height: 800px;
  left: 30px;
  margin-top: 50px;
}
.main .data .format {
  position: relative;
  width: 1400px;
  font-family: "Montserrat";
  font-size: 14px;
  overflow: hidden;
  border: none;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 20px 20px 69px #cccccc, -20px -20px 69px #ffffff;
}
.main .data .format table {
  width: 100%;
  border-collapse: collapse;
}
.main .data .format .head {
  position: relative;
  width: 1300px;
  height: 40px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #2192FF;
}
.main .data .format .content {
  height: 60px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #f8f8f8;
}
.main .data .format .daTable:nth-child(even) {
  background-color: #fff;
}
.main .statistika {
  position: relative;
  width: 1400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 50px;
}
.main .statistika .chart {
  position: relative;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 20px 20px 69px #cccccc, -20px -20px 69px #ffffff;
}/*# sourceMappingURL=index.css.map */