// If you are looking for a piece of content, press CTRL + F
// type what you want to find based on the data below:

// 1. General Styling Section
// 2. Header Styling Section
// 3. Navigation Styling Section

// General Styling Section 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {overflow-x: hidden;}

body {
    max-width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    background-color: #fff;
}

@mixin neumorphism {
    background-color: #fff;
    box-shadow:  20px 20px 69px #cccccc,
                -20px -20px 69px #ffffff;
}

@mixin s-neumorphism {
    background: #ffffff;
    box-shadow:  5px 5px 42px #cfcfcf,
                -5px -5px 42px #ffffff;
}

@mixin i-s-neumorphism {
    background: #ffffff;
    box-shadow: inset 5px 5px 11px #cfcfcf,
                inset -5px -5px 11px #ffffff;
}

header {
    position: fixed;
    width: 1920px;
    height: 80px;
    
    display: flex;
    align-items: center;

    background-color: #fff;
    box-shadow: 0 17px 30px #dddddd;

    z-index: 10;

    .webname {
        position: absolute;

        left: 30px;

        font-weight: 700;
        text-transform: uppercase;
        font-size: 23px;
        letter-spacing: 3.5px;
        font-family: "Comfortaa";

        padding: 7px 10px 4px 10px;

        color: #2192FF;
        outline: 2px dashed #2192FF;

    }

    ul {
        position: absolute;

        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;

        right: 30px;

        .username {
            position: relative;

            list-style: none;

            font-family: "Roboto Slab";
        }

        .profile {
            position: relative;
            width: 50px;
            height: 50px;

            list-style: none;

            border-radius: 50px;

            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.nav {
    position: fixed;
    width: 200px;
    height: 1080px;

    left: 0;
    top: 80px;

    background-color: #463CFF;
    box-shadow:  17px 0px 30px #dddddd;

    z-index: 11;

    ul {
        position: relative;

        list-style: none;

        margin-top: 20px;

        display: flex;
        flex-direction: column;

        li {
            width: 200px;
            transition: 300ms;

            a {
                position: relative;
                width: 200px;
                height: 60px;

                display: flex;
                column-gap: 10px;
                align-items: center;
                justify-content: left;                
                
                font-size: 14.2px;
                font-weight: 600;
                font-family: "Comfortaa";
                text-transform: capitalize;
                text-decoration: none;
                
                letter-spacing: 2px;
                
                transition: 300ms;
                
                color: #fff;

                .material-symbols-outlined {
                    margin-left: 20px;

                    transition: 300ms;
                }
            }
        }

        li:hover {
            cursor: pointer;

            background-color: #655CFF;
        }

        li.active {
            width: 218px;

            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;

            background: linear-gradient(145deg, #5003E9, #6622EB);
            box-shadow:  -18px 8px 25px #4F0ECF,
                        -18px -8px 25px #4F0ECF  ;
            background-color: #5003E9;

            a {
                font-size: 15.5px;
                letter-spacing: 2.5px;

                .Icon {
                    margin-left: 35px;
                }
            }
        }
    }
}

.main {
    position: absolute;
    left: 55%;
    top: 52%;
    transform: translate(-50%, -50%);

    width: 1500px;
    height: 800px;
    padding: 0 20px;

    font-size: 20px;

    background-color: transparent;

    .list {
        position: relative;
        width: 1400px;
        height: 40px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;

        font-weight: 600;
        font-size: 16px;
    
        column-gap: 40px;
        margin-bottom: 30px;
    
        left: 50%;
        transform: translateX(-50%);
        
        list-style: none;

        .say {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translate(-0%, -50%);
        
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.8px;
        
            font-family: 'Montserrat';

            .text {
                position: relative;
                width: fit-content;
                height: fit-content;

                font-weight: 600;
                font-size: 25px;

                text-transform: capitalize;

                background: linear-gradient(90deg, var(--coloors), #F637EC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }

        .time {
            position: relative;
            width: 110px;
            height: 40px;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            font-family: 'Montserrat';
            letter-spacing: 2px;

            transition: 300ms;
        
            border-radius: 10px;
            
            @include s-neumorphism;
        }

        .date {
            position: relative;
            width: 285px;
            height: 40px;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            font-family: 'Montserrat';
            letter-spacing: 2px;

            transition: 300ms;
        
            border-radius: 10px;
            
            @include s-neumorphism;
        }
    }

    .card {
        position: relative;
        width: 1400px;
        height: 200px;

        left: 50%;
        transform: translate(-50%);
    
        padding: 20px 30px;

        font-family: 'Montserrat';

        border-radius: 26px;

        @include neumorphism;

        .random {
            position: absolute;

            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);

            text-transform: capitalize;
        
            font-weight: 600;
            letter-spacing: 2px;
        }

        .dp {
            position: absolute;

            right: 60px;
            top: 50%;
            transform: translate(0, -50%);

            opacity: 0;

            font-size: 95px;

            transition: 300ms;
        }

        .morning {color: #2192FF;}

        .afternoon {color: #FCE700;}

        .evening {color: #04009A;}

        .notifi {
            position: absolute;
            width: 400px;
            height: 50px;
        
            display: flex;
            flex-direction: row;
            column-gap: 30px;
        
            bottom: 25px;
        
            list-style: none;

            li {
                position: relative;
                width: 50px;
                height: 50px;
            
                display: flex;
                align-items: center;
                justify-content: center;
            
                padding-top: 5px;

                transition: 300ms;

                border-radius: 50px;
            
                cursor: pointer;
            
                @include i-s-neumorphism;

                .icon {
                    font-size: 26px;
                }

                .mark {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                
                    top: 2px;
                    right: 2px;
                
                    border-radius: 50px;
                
                    background-color: #FF1E1E;
                }
            }
        }

        .listIcon {
            position: absolute;
            cursor: default;
          
            font-size: 100px;

            right: 0%;
            top: 50%;
            transform: translate(-50%, -50%);
          
        }
    }

    .data {
        position: relative;
        width: 1400px;
        height: 800px;
    
        left: 30px;
        margin-top: 50px;

        .format {
            position: relative;
            width: 1400px;
        
            font-family: 'Montserrat';
            font-size: 14px;
        
            overflow: hidden;
        
            border: none;
            border-collapse: collapse;
        
            border-radius: 10px;
        
            @include neumorphism;
            
            table {
                width: 100%;
                border-collapse: collapse;
            }

            .head {
                position: relative;
                width: 1300px;
                height: 40px;
            
                color: #fff;
                letter-spacing: 1px;
            
                background-color: #2192FF;
            }

            .content {
                height: 60px;

                text-align: center;

                font-weight: 500;
                letter-spacing: 1px;
                
                background-color: #f8f8f8;
            }

            .daTable:nth-child(even) {
                background-color: #fff;
            }
        }
    }

    .statistika {
        position: relative;
        width: 1400px;
        height: fit-content;

        left: 30px;
    
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 40px;
        
        margin-top: 50px;

        .chart {
            position: relative;
        
            padding: 10px;
        
            border-radius: 15px;
            
            @include neumorphism;
        }
    }
}